/* #main {
  width: 400px;
  height: 300px;
  background: #000;
  color: wheat;
  float: left;
  margin-right: 20px;
  text-align: center;
  padding: 10px 10px;
}
#main h3 {
  color: white;
  font-family: tahoma;
  font-weight: 400;
}
#main p {
  color: white;
  font-family: roboto;
  font-weight: 400;
}
 */
